html{
  box-sizing: border-box;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: hsla(200, 95%, 80%, 1);
  margin: 0 10%;
}

input{
  font-size: 1em;
  padding: .4em 1em;
  border-radius: .5em;
  box-shadow: 1px 1px 5px #999;
  border-style: none;
}
input:focus {
  border-style: none;
  outline: none;
}

#list-do {
  padding: 0;
}

span {
  cursor: pointer;
}

h1{
  font-size: 2rem;
}

section#section-input > i{
  font-size: 1em;
}

li.list-do-item{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(50, 95%, 95%, .7);
  border-radius: .5em;
  margin-bottom: .5rem;
  padding: .4em 1em .5em;
  box-shadow: 1px 1px 5px #999;
}

div.btn-container > button {
  margin-left: 1rem;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

i{
  margin: auto .50em;
  cursor: pointer;
}

#list-X {
  color: slategray;
  text-decoration: line-through;
  padding: 0;
}